version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command:
      - redis-server
      - --maxmemory
      - 1gb
      - --maxmemory-policy
      - allkeys-lru
      - --databases
      - "3"
    restart: unless-stopped

  search_api:
    image: danielleesignup/search_api:latest
    container_name: search_api
    env_file:
      - /opt/project_5/.env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8001:8001"
    depends_on:
      - redis
    restart: unless-stopped

  price_api:
    image: danielleesignup/price_api:latest
    container_name: price_api
    env_file:
      - /opt/project_5/.env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8002:8002"
    depends_on:
      - redis
    restart: unless-stopped
