[MASTER]
ignore-patterns=test_.*\.py,conftest\.py
init-hook='import sys, os; sys.path.append(os.path.abspath("."))'

[MESSAGES CONTROL]
disable=
#    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    redefined-outer-name,
    unused-argument,
#    invalid-name,
    invalid-envvar-default,
    unnecessary-pass,
#    raise-missing-from,
#    empty-docstring,
    undefined-variable,
    too-many-nested-blocks,
    broad-exception-caught,
    too-many-branches,
    too-many-locals,
    import-outside-toplevel,
    too-many-positional-arguments,
    too-many-arguments
