version: "3.9"

services:
  web_app:
    image: danielleesignup/web_app:latest
    container_name: web_app
    environment:
      # This is what Flask app should use to call the API in prod.
      API_BASE_URL: "http://64.225.22.79:8001"
    ports:
      - "80:5000"
    restart: unless-stopped
