version: "3.9"

services:
  web_app:
    image: danielleesignup/web_app:latest
    container_name: web_app
    env_file:
      - /opt/project_5/.env
    environment:
      FLASK_ENV: "production" 
      # This is what Flask app should use to call the API in prod.
      SEARCH_URL: "http://64.225.22.79:8001"
      PRICE_SERVICE_URL: "http://64.225.22.79:8002"
    ports:
      - "80:5000"
    restart: unless-stopped
